body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", serif;
    color: hsl(218, 44%, 22%);
}

p {
    margin: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    height: 475px;
    width: 310px;
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code img {
    height: 280px;
    width: 280px;
    border-radius: 10px;
}

p:first-of-type {
    font-size: 22px;
    font-weight: 700;
}

p:last-of-type {
    font-weight: 400;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    .container {
        height: 450px;
        width: 270px;
    }

    .qr-code img {
        height: 250px;
        width: 250px;
    }

    p:first-of-type {
        font-size: 20px;
    }
}